[submodule "web"]
	path = web
	url = https://github.com/liuyav/web.git
[submodule "admin"]
	path = admin
	url = https://github.com/liuyav/admin.git
[submodule "server"]
	path = server
	url = https://github.com/liuyav/server.git
